<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="quartz.scheduler.instanceName"  value="ServerScheduler"/>
    <add key="quartz.scheduler.proxy"  value="true"/>
    <!--To ensure that Quartz.Net schedules the job on the *remote server* 
    and not on the local instance you need to set the thread count to 0 -->
    <add key="quartz.threadPool.threadCount"  value="0"/>
  </appSettings>
</configuration>